<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Card Guessing League Trainer</title>
    <!-- 
      <link rel="icon" href="/favicon.ico">
      <link rel="icon" href="/favicon.svg" type="image/svg+xml">
      <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    -->

    <link rel="stylesheet" href="styles.css" />
  </head>

  <body>
    <h1 id="header">Card Guessing League Trainer</h1>
    <img id="logo" src="assets/logo.webp" alt="Card Guessing League Trainer logo" />
    <div id="game-wrapper">
      <noscript>JavaScript must be enabled to play.</noscript>
      <div id="canvas-wrapper">
        <canvas id="canvas" width="300" height="300"></canvas>
        <div id="canvas-status"></div>
      </div>
      <div id="input-wrapper" v-scope @vue:mounted="mounted">
        <input
          id="guess-input"
          list="guess-opts"
          v-model="guess"
          @keyup.enter="guessCard"
          :disabled="!store.isGameReady"
        />
        <datalist id="guess-opts">
          <option v-for="opt in opts" :value="opt"></option>
        </datalist>
        <button
          id="guess-btn"
          type="button"
          @click="guessCard"
          :disabled="!store.isGameReady"
        >
          Guess
        </button>
        <button
          id="skip-btn"
          type="button"
          @click="skipCard"
          :disabled="!store.isGameReady"
        >
          Give up
        </button>
        <button
          id="next-btn"
          type="button"
          @click="nextCard"
          disabled
          :disabled="!store.isGameRevealed"
        >
          Next
        </button>
      </div>
      <div id="info-wrapper" v-scope>
        <span
          id="game-status"
          v-show="store.isGameRevealed"
          :style="{ color: statusColor }"
          v-cloak
        >
          {{status}}
        </span>
        <span v-show="store.isGameRevealed" v-cloak>
          {{cardCharacter}} -
          <a :href="cardLink" target="_blank">{{cardName}}</a>
        </span>
        <span v-show="store.stats.totalGuesses > 0" v-cloak>{{stats}}</span>
        <span v-show="store.stats.totalGuesses > 0" v-cloak
          >{{advancedStats}}</span
        >
      </div>
      <div id="options-wrapper" v-scope v-cloak>
        <span>Rarities in the card pool:</span>
        <ul>
          <li v-for="checkbox in checkboxes" :key="checkbox.name">
            <input
              type="checkbox"
              :id="checkbox.name"
              @change="handleChange($event, checkbox.rarity)"
              checked
            />
            <label :for="checkbox.name">{{checkbox.label}}</label>
          </li>
        </ul>
        <span>Cards in the current pool: {{numOfCardsInPool}}</span>
      </div>
    </div>
    <section>
      <p>
        To play, simply enter the given (first) name of the character that the
        card is associated to. Then press guess. You can skip the current card
        by pressing the "give up" button. After a successful guess or a skip,
        the card's character and name is given. Then press the next button to
        start the next round of guessing!
      </p>
      <p>
        The images are randomly generated crops ranging from 50px to 150px in
        heights and widths.
      </p>
    </section>
    <section>
      <h2>Card Guessing League</h2>
      <p>
        "Card Guessing League" is a game held every weekend where players race
        to guess a card correctly. Try our your skills against other players!
      </p>
      <p>
        Read
        <a
          href="https://docs.google.com/document/d/1PJ5sZirp0tvuliTgNr_4LSBUZHdepKewvbB53bcOqhw/edit"
          >this Google doc</a
        >
        for more info.
      </p>
    </section>
    <hr />
    <footer>
      <p id="version">Version goes here.</p>
      <p>
        <a href="https://github.com/ChaoticShadow/pjsekai-card-guesser">
          <img src="assets/github.png" alt="GitHub logo" />
        </a>
      </p>
    </footer>

    <script type="module" src="scripts/helpers.js"></script>
    <script type="module" src="scripts/game.js"></script>
    <script type="module" src="scripts/canvas.js"></script>
    <script type="module" src="scripts/main.js"></script>
  </body>
</html>
