body {
  margin: auto;
  max-width: 720px;
}

@media screen and (max-width:720px) {
  body {
    margin: 0 1em;
  }
}

#banner {
  display: block;
  max-width: 100%;
  margin: 32px auto;
}

#canvas {
  display: block;
  margin: 16px auto;
  border: 1px solid black;
  border-radius: 5px;
}

#input-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

#input-wrapper > button {
  padding: 0.5em 1.5em;
}

#status {
  text-align: center;
  font-weight: bold;
}

#card-info,
#stats,
#version {
  text-align: center;
}