@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

body {
  margin: auto;
  max-width: 720px;
  background-image: url("./assets/background.jpg");
  background-repeat: repeat;
  color: lightgrey;
  font-family: 'Lexend Deca';
}

@media screen and (max-width:720px) {
  body {
    margin: 0 2em;
  }
}

#header {
  display: none;
}

#logo {
  display: block;
  max-width: 100%;
  margin: 32px auto;
}

#game-wrapper {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  margin: 16px -1em;
  padding: 1em;
}

#canvas {
  display: block;
  margin: auto;
}

#input-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

#input-wrapper > button {
  padding: 0.5em 1.5em;
}

#status {
  text-align: center;
  font-weight: bold;
}

#card-info,
#stats,
#version,
#repo-link {
  text-align: center;
}